.home
{
    background-image: url('../../Images/fond-acceuil.png');
    background-attachment: fixed;
    background-size: cover;
    width: 100% !important;

}

.home .carre
{
    background-color: white !important;
    height: 240px ;
    width: 300px ;
    border-radius: 30px;
    box-shadow: 0px 4px 4px black !important;
}
.home .image
{
    padding: 20px;
    position: relative;
    left: 40px;
}
.home .rectangle
{
    height: 120px;
    width: 500px;
    background-color: #4B541F !important;
    box-shadow: 0px 4px 4px black !important;
    border-radius: 30px;
}

.home .rectangle  h3
{
    background-color: white;
    border-radius: 10px;
    font-weight: 800;
    color: #4B541F;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
    box-shadow: 0px 1px 2px rgb(25, 25, 25) !important;

}

.home .phrase
{
    color: white !important;
    font-weight: 700;
}

.home .log
{
    background-color: #793D3D !important;
    border-radius: 40px !important;
    color: white !important;
    font-weight: 800 !important;
    width: 150px;
    padding: 10px;
    box-shadow: 0px 3px 3px black !important;
}

.home .about
{
    background-color: #C85D22 !important;
    border-radius: 40px !important;
    color: white !important;
    font-weight: 800 !important;
    width: 150px;
    padding: 10px;
    box-shadow: 0px 3px 3px black !important;
}
