.tt .btnradius{
    border-radius: 30px !important;
    box-shadow: 1px 2px 5px;
    height: 50px !important;
}
.tt .btnradius_submit{
    border-radius: 30px !important;
    background-color: #793D3D !important;
    height: 50px !important;
    width: 150px !important;
    margin-left: -17%;
}
.tt .btnDetail{
    background-color: #065b39 !important;
    height: 30px !important;
    border-radius: 20px !important;
    color: white !important;
    font-weight: bolder;
    margin-left: 11px !important;
    box-shadow: 1px 2px 5px;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
.tt .stock
{
    background-color: rgb(150, 219, 150);
    color: rgb(9, 62, 2) !important;
    font-weight: bolder;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tt .titre-product
{
    font-weight: 800;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.jj:hover
{
    position: relative;
    top: 8px;
}
