.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #793D3D;
    padding-top: 60px;
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 1px rgb(195, 195, 195);
  }
  .sidebar.show {
    left: 0;
  }
  .navbar-dash {
    background-color: #235f2d;
    z-index: 99999 !important;
    position: fixed !important;
    width: 100% !important;
  }
  .navbar-brand, .navbar-nav .nav-link {
    color: #000000;
  }
  .main-content {
    margin-left: 0;
    transition: margin-left 0.3s;
  }
  .sidebar.show + .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  .main-content p {
    overflow-wrap: break-word;
  }

  .sidebar .nav-link
  {
    background-color: #F0F8FF !important;
    color: black !important;
    font-weight: 900;
    border-radius: 7px;
  }
  .sidebar .nav-link:hover
  {
    background-color: #4e9d4d !important;
    color: rgb(255, 255, 255) !important;
  }
  .sidebar .active
  {
    background-color: #0b7901 !important;
    color: rgb(255, 255, 255) !important;
    box-shadow: 0px 3px 2px black;
    font-weight: 900;
    border-radius: 7px;
}

  .sidebar .nav-item h6
  {
    background-color: #c2ffc2 !important;
    text-decoration: none;
    border-radius: 10px;
}

.navbar-dash .menu-deroulante
{
    background-color: rgb(255, 255, 255) !important;
}

.navbar-dash .menu-deroulante .dropdown-item:hover
{
    background-color: #793D3D;
    color:  white ;
    font-weight: 900;
}


.edit_user .bginput{
    background-color: #E5F1F8 !important;
    border-radius: 15px !important;
}
.edit_user .btnvalider{

    border-radius: 15px !important;
    background-color: #10A728 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1)!important;
    border-bottom: 3px solid black !important;;
}
.edit_user .radiusform{
    border-radius: 15px !important;
}

.ajout form input
{
    background-color: #F0F8FF !important;
    border: 1px solid rgb(234, 234, 234);
}
.ajout form label
{
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #793D3D;
    font-weight: 800;
}
.details_user .list-group .list-group-item
{
background-color: #F0F8FF !important;
}
