.error h1
{
    font-weight: 900 !important;
    font-size: 90px !important;
    color: #793D3D !important;
    text-shadow: 0px 2px 2px black;
}

.error .back
{
    background-color: #076316 !important;
    color: white !important;
    font-weight: 800;
    padding: 10px;
    width: 200px;
    border-radius: 30px !important;
}
