
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit:wght@900&family=Montserrat:wght@500&family=Roboto:wght@500&family=Ubuntu&display=swap');

.fonctionnaire_header  .navbar
{
    background-color: #793D3D !important;
    display: block !important;
}

.fonctionnaire_header .navbar .nav-item
{
    display: block;
}

.thumbnail
{
    background-color: #422718;
}

.font .carre
{
    background-color: #422718;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 3px 2px black;
}

.fonctionnaire_header .navbar .button1
{
    background-color: #ffffff;
    color:  rgb(0, 0, 0);
    box-shadow: 0px 3px 2px black;
}

.fonctionnaire_header .navbar .button2
{
    background-color: #4B541F;
    box-shadow: 0px 3px 2px black;
    color:  rgb(255, 255, 255);
}

.cat
{
    background-color: rgb(255, 232, 234) !important;
    border-radius: 12px;
    font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
}
