.sidebar {
    height: 100vh;
    width: 245px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #ffffff;
    padding-top: 60px;
    transition: all 0.3s;
    box-shadow: 0px 0px 8px 1px rgb(195, 195, 195);
  }
  .sidebar.show {
    left: 0;
  }
  .navbar-dash {
    background-color: #E96D28;
    z-index: 99999;
    position: fixed !important;
    width: 100%;
  }
  .navbar-brand, .navbar-nav .nav-link {
    color: #000000;
  }
  .main-content {
    margin-left: 0;
    transition: margin-left 0.3s;
  }
  .sidebar.show + .main-content {
    margin-left: 240px;
    width: calc(100% - 250px);
  }

  .main-content p {
    overflow-wrap: break-word;
  }

  .sidebar .nav-link
  {
    background-color: #F0F8FF !important;
    color: black !important;
    font-weight: 900;
    border-radius: 7px;
  }
  .sidebar .nav-link:hover
  {
    background-color: #916d6d !important;
    color: rgb(255, 255, 255) !important;
  }
  .sidebar .active
  {
    background-color: #793D3D !important;
    color: rgb(255, 255, 255) !important;
    font-weight: 900;
    border-radius: 7px;

}

  .sidebar .nav-item h6
  {
    background-color: #c2ffc2 !important;
    text-decoration: none;
    border-radius: 10px;

}

table .custom-thead {
    background-color: black !important;
}
