body
{
    background-color: #F0F8FF !important;
}


.login .card
{
    border-radius: 15px !important;
    font-family : "Poppins", sans-serif ;
}
.login .card input
{
    border-radius: 40px !important;
    padding: 8px !important;
    border: 1px solid rgb(208, 208, 208);
    background-color: #F0F8FF !important;
}

.login .card input:focus
{
    box-shadow: none;
}

.login form .log
{
    width: 100%;
    background-color: #0650fc !important;
    color: white !important;
    font-weight: 800;
    border-radius: 30px;
    /* box-shadow: 0px 1px 2px rgb(40, 40, 40); */
}


