.navbar
{
    background-color: #C85D22;
}

.navbar .log
{
    background-color: #793D3D !important;
    border-radius: 40px !important;
    color: white !important;
    font-weight: 800 !important;
    width: 150px;
    box-shadow: 0px 3px 3px black !important;
}
