.carre
{
    width: 110px !important;
    height: 110px;
    border-radius:10px;
    background-color: #793D3D;
}


.titre
{
    background-color: #FFECEC;
    padding: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.nombre
{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
